body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  background-color: #fdfdfd;
  color: #3c7139;
}

a, a:visited {
  color: #3764c8; /* dark blue */
}

a:hover {
  color: #78d968; /* same green as h1 */
}

h1 a {
  text-decoration: none;
  color: #78d968 !important; /* same green as a:hover */
}

#container {
  margin: 3em;
}

#sidebar {
  float: left;
  margin-right: 3em;
}

#nav {
  list-style-type: none;
  padding: 0;
  margin: 1.5em;
}

#nav li {
  line-height: 30px;
}

#nav li a {
  padding: 5px;
  display: block;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #F8F8F8; /* beige */
}

#content {
  padding: 1.5em;
  min-width: 32em;
}

#content ul {
  list-style-type: none;
}

#content ul li {
  display: inline;
  cursor: pointer;
}

#content ul li .alg-nickname, #content ul li a {
  display: none;
}

#active-alg .details-container {
  text-align: center;
}

#content ul li .details {
  display: inline;
}

#active-alg .details {
  text-align: center;
  display: block;
}
#footer {
  margin-top: 5%;
}