body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  background-color: #fdfdfd;
  color: #3c7139;
}

a, a:visited {
  color: #3764c8; /* dark blue */
}

a:hover {
  color: #78d968; /* same green as h1 */
}

h1 a {
  text-decoration: none;
  color: #78d968 !important; /* same green as a:hover */
}

h3 small {
  font-size: 12px;
}

#container {
  margin: 3em;
  height: auto !important;
  height: 97%;
}

#sidebar {
  float: left;
  margin-right: 3em;
  position: absolute;
  width: 230px;
}

#nav {
  list-style-type: none;
  padding: 0;
  margin: 1.5em;
}

#nav li {
  line-height: 30px;
}

#nav li.copyright {
  font-size: smaller;
  margin-top: 2em;
}

#nav li a {
  padding: 5px;
  display: block;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #F8F8F8; /* beige */
}

#content {
  padding: 1.5em;
  min-width: 32em;
  position: absolute;
  left: 260px;
  margin-right: 3em;
}

#content ul {
  list-style-type: none;
  float: left;
}

#content ul li {
  display: inline;
  cursor: pointer;
}

#content ul li .alg-nickname, #content ul li .alg {
  display: none;
}

#content ul li .details {
  display: inline;
}

.alg-list {
  padding: 0;
}

#active-alg {
  display: none;
  margin: 3em;
}

#active-alg .details {
  display: block;
  float: left;
  margin-left: 5em;
}

#active-alg .details .alg {
  display: block;
}

#active-alg {
  min-width: 565px;
}

.width-100px .overview {
  width: 100px;
}

.height-100px #active-alg {
  height: 100px;
}

.overview {
  text-align: center;
  display: inline-block;
  float: left;
  padding: 5px 5px 15px 5px;
}

/* Guestbook */
#guestbook {
  width: 37em;
}