body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  background-color: #fdfdfd;
  color: #3c7139;
}

a, a:visited {
  color: #3764c8; /* dark blue */
}

a:hover {
  color: #78d968; /* same green as h1 */
}

h1 a {
  text-decoration: none;
  color: #78d968 !important; /* same green as a:hover */
}

h3 {
  margin: 0;
  padding: 0;
}

#active-alg h3 {
  margin-bottom: 10px;
}

h3 small {
  font-size: 12px;
}

#container {
  margin: 3em;
  height: auto !important;
  height: 97%;
}

#sidebar {
  float: left;
  margin-right: 3em;
  position: absolute;
  width: 230px;
}

#nav {
  list-style-type: none;
  padding: 0;
  margin: 1.5em;
}

#nav ul {
  padding: 0;
  list-style-type: none;
}

#nav li ul {
  padding-left: 5px;
}

#nav > li {
  line-height: 30px;
}

#nav > li.copyright {
  font-size: smaller;
  margin-top: 2em;
}

#nav li a {
  padding: 0 5px;
  display: block;
  text-decoration: none;
}

#nav li ul {
  display: none;
}

#nav li h3 {
  padding: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

#nav li a:hover, #nav h3:hover {
  background-color: #F8F8F8; /* beige */
}

.tabs li, a.button {
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #a3efa1;
  color: #3c7139;
  text-decoration: none;
}

.tabs li {
  display: inline-block !important;
  margin: 0 5px 10px 0;
}

.tabs li.active {
  background-color: #e0fddc;
}

a.button {
  margin: auto auto 10px 10px;
  color: #3764c8;
  background-color: #fbfbfb;
}

a.button:hover {
  color: #78d968;
}

#content {
  padding: 1.5em;
  position: absolute;
  left: 260px;
  margin-right: 3em;
  min-width: 450px;
}

#content ul {
  list-style-type: none;
  float: left;
}

#content ul li {
  display: inline;
  cursor: pointer;
}

#content ul li .alg-nickname, #content ul li .alg {
  display: none;
}

#content ul li .details {
  display: inline;
}

.alg-list {
  padding: 0;
}

.collapsible .alg-list {
  display: none;
}

#active-alg {
  display: none;
  margin: 3em;
}

#active-alg .details {
  display: block;
  float: left;
  margin-left: 5em;
}

#active-alg .details .alg {
  display: block;
}

#active-alg {
  min-width: 565px;
  float: left;
  width: 100%;
}

.width-100px .overview {
  width: 100px;
}

.height-100px #active-alg {
  height: 100px;
}

.width-75px .overview {
  width: 75px;
}

.overview {
  text-align: center;
  display: inline-block;
  float: left;
  padding: 5px 5px 15px 5px;
}

.tall-images .overview {
  padding: 5px 5px 25px 5px;
}

#active-alg .overview {
  padding: 5px 5px 15px 5px;
}

#active-alg a, a:visited {
  padding-bottom: 5px;
  text-decoration: none;
}

.inactive {
  opacity: 0.66;
}

.red {
  color: red;
}

.right {
  float: right;
}

/* Homepage */
#home {
  min-width: 804px;
  max-width: 1300px;
}

#home img {
  float: right;
  padding: 0 15px 15px 15px;
  margin-right: 300px;
}

#content.home {
  width: 100%;
}

/* Guestbook */
#guestbook {
  width: 37em;
}