<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} &mdash; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
    </head>
    <body>

        <div id="container">
          <div id="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          <div id="sidebar">
            <ul id="nav">
              <li><a href="/">Home</a></li>

              <li>
                <h3>3x3x3</h3>
                <ul>
                  <li><a href="/3x3x3/beginners-method">Beginner's Method</a></li>
                  <li><a href="/3x3x3/eols">EOLS</a></li>
                  <li><a href="/3x3x3/wv">WV</a></li>
                  <li><a href="/3x3x3/els">ELS</a></li>
                  <li><a href="/3x3x3/cls">CLS</a></li>
                  <li><a href="/3x3x3/ocllcp">OCLLCP / COLL</a></li>
                  <li><a href="/3x3x3/oellcp">OELLCP</a></li>
                  <li><a href="/3x3x3/ell">ELL</a></li>
                  <li><a href="/3x3x3/oll">OLL</a></li>
                  <li><a href="/3x3x3/pll">PLL</a></li>
                  <li><a href="/3x3x3/pll-skip-cases">PLL Skip Cases</a></li>
                  <li><a href="/3x3x3/oll-skip-cases">OLL Skip Cases</a></li>
                  <li><a href="/3x3x3/pll-regonition-guide">PLL Recognition Guide</a></li>
                </ul>
              </li>

              <li>
                <h3>Megaminx</h3>
                <ul>
                  <li><a href="/megaminx/ocll">OCLL</a></li>
                  <li><a href="/megaminx/epll-impure">EPLL (Impure)</a></li>
                  <li><a href="/megaminx/cpll">CPLL</a></li>
                  <li><a href="/megaminx/epll-pure">EPLL (Pure)</a></li>
                </ul>
              </li>

              <li>
                <h3>Pyraminx</h3>
                <ul>
                  <li><a href="/pyraminx/method-overview">Method Overview</a></li>
                  <li><a href="/pyraminx/last-3-centers">Last 3 Centers</a></li>
                  <li><a href="/pyraminx/last-3-edges">Last 3 Edges</a></li>
                </ul>
              </li>

              <li>
                <h3>Square-1</h3>
                <ul>
                  <li><a href="/square-1/advanced-cubeshape">Advanced Cubeshape</a></li>
                  <li><a href="/square-1/cp">CP</a></li>
                  <li><a href="/square-1/eo">EO</a></li>
                  <li><a href="/square-1/ep">EP</a></li>
                </ul>
              </li>

              <li>
                <h3>Skewb</h3>
                <ul>
                  <li><a href="/skewb/method-overview">Method Overview</a></li>
                  <li><a href="/skewb/2-look-cases">2-Look Cases</a></li>
                  <li><a href="/skewb/1-look-cases">1-Look Cases</a></li>
                </ul>
              </li>

              <li><a href="/guestbook">Guestbook</a></li>
              <li class="copyright">&copy; 2013 Sarah Strong</li>
            </ul>
          </div>

          <div id="content">
            {{ content }}
          </div>
        </div> <!-- /container -->
    </body>
</html>
